<div class="slide" style="padding-top:200px;">
  sssss ade wadew huttho xxxxx
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Baiia",
  "blocks": [{"type": "@app"}, {"type": "@theme"}],
  "presets": [
    {
      "name": "Baiia featured video"
    }
  ]
}
{% endschema %}
